#page-teacher-form {
    width: 100vw;
    height:100vh;
}

#page-teacher-form .page-header .header-content{
    margin-bottom:6.4rem;
}

#page-teacher-form main{
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin:-3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow:hidden;
}

#page-teacher-form main fieldset{
    border: 0;
    padding: 0 2.4rem;
}

#page-teacher-form main fieldset+fieldset{
    margin-top: 6.4rem;
}

#page-teacher-form main fieldset legend{
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding-bottom:1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-teacher-form main footer{
    padding: 4rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-white);
    margin-top:3.4rem;
}

#page-teacher-form main footer p{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-in-content);
}

#page-teacher-form main footer img{
    margin-right: 2rem;
}

#page-teacher-form main footer button{
    width: 100%;
    height: 5.6rem;
    margin-top:2rem;
    background: var(--color-secundary);
    border:0;
    border-radius: 0.8rem;
    color: var(--color-button-text);
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    font: 700 1.6rem Archivo;
    transition: background-color 0.2s;

   
}
#page-teacher-form main footer button:hover {
    background: var(--color-secundary-dark);
}
#page-teacher-form main footer button:focus {
    border: 0;
}